<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<table border='1'>
			<thead>
				<th>Unique Ips <%= unique_ips.length %></th>
				<th>Hits</th>				
				<th>details</th>
				<th>Post Data - Url - Search- Keyword</th>
			</thead>
			<tbody style="overflow:scroll;">
						<%
							for(var i in unique_ips){
							%>
							<tr>
									<td><%= unique_ips[i] %></td>
									<td><%= unique_hits[unique_ips[i]] %></td>
									
									<td>
									<div style="height:100px;overflow:scroll;">
										<table border=1 height=100>
										<thead>
											<th>date-time</th>
											<th>browser</th>
										</thead>
										
										<tbody style="height:100px; overflow:scroll;">
											<%
												if(activity[unique_ips[i]] instanceof Array){
												activity[unique_ips[i]].forEach(function(obj){	
													for( var n in obj){
												%>
												
													<tr>														
														<td><%=obj[n].datetime%></td>
														<td><%=obj[n].browser%></td>														
													</tr>
													<%}
												});
												}%>
												
										</tbody>
											
										</table>
										</div>
									</td>
									<td></td>
							</tr>
							<%}							
						%>		
			</tbody>
		</table>
	    
	
  </body>
</html>